!!! 5
%html{:lang=>"pt-BR"}
  %head
    %title Hora Extra Online
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords",:content => ""}
    %meta{:name => "description", :content => ""}
    = csrf_meta_tag
    = stylesheet_link_tag :all
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    %script{:src  => "http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{google_maps_key}"}

    = javascript_include_tag :defaults
    /[if IE]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %script{:src => "/users.js"}
  %body{:onload=>"load()", :onunload=>"GUnload()"}
    %div{:id => "container"}
      %header
        %h1{:id => ""}
          Hora Extra Online
      %nav
        %ul
          %li 
            = link_to "Quem Somos?", "/quemsomos"
      %section{:id => "main"}
        = yield
      %footer


